{% extends 'base.html' %} 
{% load static %} 
{% block extra_head %}
<linkrel="stylesheet" href="{% static "css/ckeditor5.css" %}" type="text/css">
{%endblock %}
{% block content %}

<div class="container">
  {% for item in contact %}
  <div class="row my-3">
    <div class="col-xl-4">
      <div class="row">
        <div class="ck ck-content">{{ item.contacts|safe }}</div>
      </div>
    </div>
    <div class="col-xl-8" style="height: 400px">
      {% if map_list %}
      <h3>Мы находимся по адресу:</h3>
      {% for map in map_list %} {{ map.map|safe }} {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row my-3">{{ item.links|safe }}</div>
  {% endfor %}
</div>
{% endblock %}
