{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row my-3">

    {% if contact.contants %}
    <div class="col-xl-4">
      <h3>Наши контакты</h3>
      {{ contact.contants|safe }}
    </div>
    {% endif %}

    {% if map_list %}
    <div class="col-xl-8" style="height: 400px">
      <h3>Мы находимся по адресу:</h3>
      {% for map in map_list %} 
      {{ map.map|safe }} 
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% if contact.links %}
  <div class="row">
    <h3>Ссылки:</h3>
  </div>
  {% endif %}

    <div class="col-xl-9">
      {{ contact.links|safe }}
    </div>
  </div>
</div>
{% endblock %}
