{#<p></p>#}
<div class="container text-center">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for curmb in breadcrumbs %}
                <li class="breadcrumb-item{% if forloop.last %} active {% endif %}">
                    {% if forloop.last %}
                        {{ curmb.title }}
                    {% else %}
                        <a href="{{ curmb.url }}">{{ curmb.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
</div>
