{% extends "base.html" %}
{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in object_list %}
                    {% include "mainapp/card.html" %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <span hx-get="{{ url_name }}?page={{ page_obj.next_page_number }}"
                          hx-swap="beforebegin"
                          hx-trigger="revealed"></span>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
