{% load static %} {% load view_breadcrumbs %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Изготовление и доставка печатей" />
    {# Favicon #}
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/favicon.ico' %}"
    />
    {# Bootstrap icons #}
    {% comment %} <link rel="preload" href="{% static "fonts/bootstrap-icons.woff2" %}" as="font" crossorigin=""> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      type="text/css"
      href="{% static "css/bootstrap-icons.css" %}"
    /> {% endcomment %}
    {# Core theme CSS (includes Bootstrap) #}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    {% block extra_head %} {% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <div class="container text-center">
      <div class="mt-1 d-flex justify-content-center">
      {% block breadcrumbs %} {% render_breadcrumbs %} {% endblock %}
      </div>
    </div>
    {% block content %}
    {% endblock %}
    {% include 'includes/footer.html' %}
  </body>
</html>
